@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root{
    --primary_color: #2222f6;
}

@keyframes spinner {
    to { transform: rotate(360deg); }
}

body, html{
    background-color: #ececec;
    margin: 0;
    padding: 0;    
    font-family: "Lato", sans-serif;
    line-height: 1.5;
}

.font-small{
    font-size: 0.8rem;
}

.fullscreen_loader{

    height: 100vh;
    width: 100vw;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #ececec;

    .spinner{
        svg{
            height: 30px;
            animation: spinner 2s linear infinite; 
        }        
    }
}

.fullscreen_loader.hidden{
    display: none;
}

.input_container{
    display: flex;
    background-color: white;
    align-items: center;
    border-radius: 10px;
    padding: 0 20px;
    margin-bottom: 15px;
    
    svg{
        color: #454545;
        font-size: small;
        height: 18px;
    }

    input{
        font-size: 1rem;
        width: 100%;
        border: none;
        outline: none;
        padding: 10px 0px 10px 10px;
    }    
}

.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;

    #login_form{
        max-width: 800px;
        min-width: 400px;
        text-align: center;
        h1{
            color: var(--primary_color);
            margin: 0;
        }

        #login_button.loading svg{
            display: block;
        }

        #login_button{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            background-color: var(--primary_color);
            color: white;
            border: none;
            outline: none;
            padding: 10px 0;
            border-radius: 10px;
            margin-top: 40px;
            cursor: pointer;
            font-weight: bold;
            font-size: 1rem;
            transition: background-color 0.3s;

            &:hover{
                background-color: #0606b3;
            }            

            svg{
                display: none;
                height: 18px;
                color: white;
                animation: spinner 1.5s linear infinite; 
            }            
        }

        #form_error_info{
            color: #fc4747;
            font-size: 0.8rem;
            text-align: end;
            display: none;
        }

        #form_error_info.visible{
            display: block;
        }
    }
}